@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/* NAVBAR */

/************ About Css ************/
.aboutus {
  padding: 0;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus .card {
  position: relative;
  width: 70vw;
  height: 75vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Updated to move content to the top */

  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to bottom right, #4A2FBD, #E81CFF);
}

.aboutus .card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 70vw;
  height: 65vh;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.aboutus .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 70vw;
  height: 65vh;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.aboutus .card .heading {
  font-size: 45px;
  text-transform: capitalize;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px;
}

.aboutus .card p:not(.heading) {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: left;
  width: 70%;
}

.aboutus .card p:last-child {
  color: #e81cff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
  font-style: italic;
}

.aboutus .card:hover::after {
  filter: blur(30px);
}

.aboutus .card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* contactus  */
/* Contacts */


.contact-bg{
  background-color: rgba(251, 251, 250, 0.3);
  border: 1px solid black;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  height: 60vh;
  overflow: hidden;
  
}
.customline{
  width: 50%;
  background-color: black;
}
.logo {
  max-width: 350px;
  height: auto;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.header h2 {
  font-size: 24px;
}


.input-field {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: #0056b3;
}
.success-message,
.error-message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
.success-message {
  color: #28a745;
}
.error-message {
  color: #dc3545;
}

/* main only */
.main {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 222, 173, 0.22);
}